.products {
    background: #5dbb15;
    padding: 100px 50px;
    text-align: center;
    position: relative;
}

.sprite {
    width: 1300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.products-title {
    font-size: 40px;
    color: white;
    margin-bottom: 60px;
    font-weight: 900;
    text-align: left;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
}

.product-card {
    width: 400px;
    border-radius: 30px;
    padding: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s ease;
    border: 6px solid #0a5f0a;
    height: 600px;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

/* Background gradients */
.strawberry {
    background: linear-gradient(135deg, #f50551e8, #92072c);


}

.product-info1 {
    position: absolute;
    bottom: 20px;
    left: -10%;

    font-size: 20px;
    width: 500px;

    h3 {
        color: aliceblue;
        font-size: 40px;
        margin-bottom: 20px;
        font-weight: 800;
    }
}

.product-info2 {
    color: rgb(249, 240, 240);
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 60%;

    h3 {
        font-size: 40px;
        margin-bottom: 20px;
        font-weight: 800;
    }
}

.blueberry {
    background: linear-gradient(135deg, #330851, #6d18bd);
}

.can1 {
    width: 550px;
    margin-bottom: 20px;
    position: absolute;
    left: -20%;

}

.can2 {
    width: 580px;
    margin-bottom: 20px;
    position: absolute;
    right: -20%;

}

.fruit-left {
    width: 200px;
    position: absolute;
    left: 80%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.fruit-left2 {
    width: 200px;
    position: absolute;
    left: -15%;
    top: 60%;
    transform: rotate(20deg);

}

.fruit-right {
    width: 200px;
    position: absolute;
    left: 80%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.fruit-right2 {
    width: 200px;
    position: absolute;
    right: 60%;
    top: 60%;
    transform: rotate(20deg);
}

.leaf-left {
    width: 200px;
    position: absolute;
    z-index: 10;
    left: 20%;
    top: 20%;
    transform: translate(-50%, -50%);

}

.leaf-right {
    width: 200px;
    position: absolute;
    transform: rotate(90deg);
    right: 50%;
    top: -5%;
}